html {
  overflow-y: scroll;
}

html, body {
  margin: 0px;
  padding: 25px 0px 0px 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #EEE;
}

a {
  text-decoration: none;
}

.pagina-header {
  top: 50px;
  position: sticky;
  position: -webkit-sticky;
  background: #EEE;
  text-align: left;
  padding: 10px 0px 10px 10px;
  color: #626262;
  font-weight: 500;
  user-select: none;
  animation: fadeIn 1s;
  font-size: 1.1em;
  max-width: 690px;
  margin: 0px auto;
  z-index: 800;
}

.pagina-header-date-pick {
  top: 50px;
  position: sticky;
  position: -webkit-sticky;
  background: #EEE;
  text-align: left;
  padding: 10px 0px 10px 10px;
  color: #626262;
  text-shadow: 0px 1px #FFFFFF82;
  font-weight: 500;
  user-select: none;
  animation: fadeIn 1s;
  font-size: 1.1em;
  max-width: 690px;
  margin: 0px auto;
  z-index: 900;
}

.pagina-header-date-pick input[type=date] {
  border: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  padding: 0px;
}

#footer {
  bottom: 0px;
  user-select: none;
  position: relative;
  background: #EEE;
  color: #626262;
  text-shadow: 0px 1px #FFFFFF82;
  text-align: center;
  padding: 100px 0px 50px 0px;
  animation: fadeInDelayed 3s;
}

#footer .logo {
  font-family: Staatliches;
  text-shadow: 0px 1px #FFF;
  font-size: 2.345em;
}
#footer .logo-tag {
  max-width: 300px;
  margin: 0px auto;
}

#header {
  background: #4F6C51;
  width: 100%;
  height: 50px;
  padding: 0px 0px 0px 0px;
  top: 0px;
  position: fixed;
  z-index: 900;
  user-select: none;
}

ul.header-lijst {
  display: table;
  list-style-type: none;
  width: 100%;
  max-width: 700px;
  height: 50px;
  margin: 0px auto;
  padding: 0px;
}
ul.header-lijst li {
  font-size: 20px;
  display: table-cell;
  color: #FFF;
  vertical-align: middle;
  padding: 0px 5px 0px 5px;
}
ul.header-lijst li a {
  text-decoration: none;
  color: inherit;
}

ul.header-lijst #header-logo {
  width: 100px;
  padding-left: 10px;
}

ul.header-lijst #header-zoek {
  width: 100%;
}

ul.header-lijst li #logo {
  font-family: Staatliches;
  color: #FDFBEF;
  position: relative;
  font-size: 2.345em;
  line-height: 35px;
  padding: 0px 0px 0px 0px;
  cursor: pointer;
  z-index: 800;
  height: 35px;
  border-radius: 2px;
  animation: showMe 500ms forwards;
  opacity: 0;
  animation-delay: 1s;
}

@keyframes showMe {
  0% {opacity: 0; transform: scale(1);}
  50% {transform: scale(1.05);}
  100% { opacity: 1; transform: scale(1);} 
}

ul.header-lijst li #logo-small {
  font-family: Staatliches;
  color: #FDFBEF;
  position: relative;
  font-size: 2.345em;
  line-height: 35px;
  padding: 0px 0px 0px 0px;
  cursor: pointer;
  z-index: 900;
  height: 35px;
  display: none;
  border-radius: 2px;
}

ul.header-lijst li #logo:hover {
  color:#FFF;
}
ul.header-lijst li #logo-small:hover {
  color:#FFF;
}

@media only screen and (max-width: 600px) {
  ul.header-lijst li #logo {
    display: none;
  }

  ul.header-lijst li #logo-tagline {
    display: none;
  }

  ul.header-lijst li #logo-small {
    display: block;
  }

  ul.header-lijst #header-logo {
    width: 43px;
  }

  ul.lijst-flex {
    display: inline-block;
  }

  ul.lijst-flex li {
    min-width: auto !important;
    min-height: auto !important;
    display: table-row !important;
  }

  ul.lijst-flex li div.flex-item {
    margin: 0px 0px 10px 0px !important;
    min-height: auto !important;
  }
  ul.lijst-flex li.lijst-next div{
    line-height: 30px !important;
  }
}

ul.header-lijst li #zoeken {
  border-radius: 8px;
  outline: none;
  border: none;
  padding: 0px 10px 0px 10px;
  font-size: 1em;
  font-weight: 600;
  height: 35px;
  width: calc(100% - 25px);
  background: rgb(252, 251, 238);
  color: #000;
  user-select: auto;
}
ul.header-lijst li #zoeken::placeholder {
  font-size: .8em;
  font-weight: 600;
  color: #7b7b7b;
}

ul.header-lijst li #info, #bron-info, #datum-info {
  border-radius: 8px;
  height: 35px; 
  width: 35px;
  line-height: 35px;
  cursor: pointer;
  color: #FDFBEF;
  font-size: 1.2em;
  padding: 0px 5px 0px 5px;
  margin: 5px 0px 5px 0px;
  text-align: center;
}

ul.header-lijst li #info:hover, #bron-info:hover, #datum-info:hover {
  color:#000;
  background: #FDFBEF;
}

@font-face {
  font-family: 'Staatliches';
  src: url('Staatliches-Regular.ttf')  format('truetype');
}

#wrap {
  position: relative;
  max-width: 700px;
  margin: 0px auto;
  padding: 0px 0px 0px 0px;
  user-select: none;
}

/* Compacte lijst met items naar elkaar */
ul.lijst-flex {
  list-style-type: none;
  margin: 0px;
  display: table;
  padding: 0px 10px 0px 10px;
}

ul.lijst-flex li {
  display: table-cell;
  position: relative;
  min-width: 115px;
  min-height: 160px;
  padding: 0px 5px 0px 5px;
  margin: 0px 0px 0px 0px;
}

ul.lijst-flex li:first-child {
  padding: 0px 5px 0px 0px;
}

ul.lijst-flex li:last-child {
  padding: 0px 0px 0px 5px;
}

ul.lijst-flex li div.flex-item {
  box-shadow: 0px 1px 2px -1px #B0B0B0;
  border-radius: 8px;
  padding: 10px;
  background: #FFF;
  overflow: auto;
  min-height: 140px;
  animation: blip 500ms;
}

@keyframes blip {
  0% { transform: scale(1);}
  50% { transform: scale(1.005)}
  100% { transform: scale(1);}
}

ul.lijst-flex li.lijst-next {
  vertical-align: top;
  min-width: auto;
  padding: 0px 0px 0px 5px;
  text-align: center;

}
ul.lijst-flex li.lijst-next div {
  cursor: pointer;
  background: #b2b49d6e;
  font-size: 1.2em;
  color: #666;
  border-radius: 8px;
  line-height: 160px;
  width: 30px;
  animation: margin-reverse 200ms;
}
ul.lijst-flex li.lijst-next div:hover {
  background: #FFF;
  color: #000;
  margin-left: 2px;
  animation: margin 200ms;
}
@keyframes margin {
  0% { margin-left: 0px;}
  100% { margin-left: 2px;}
}

@keyframes margin-reverse {
  0% { margin-left: 2px;}
  100% { margin-left: 0px;}
}

ul.lijst-flex li div.flex-item .bron img {
  width: 25px;
  height: 25px;
  padding: 0px 5px 0px 0px;
  position: relative;
  vertical-align: top;
  cursor: pointer;
  float: left;
}

ul.lijst-flex li div.flex-item .bron { height: 30px;}
ul.lijst-flex li div.flex-item .title {
  user-select: text;
}

ul.lijst-flex li div.flex-item .title a {
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
  color: #000;
}

ul.lijst-flex li div.flex-item .title a:hover {
  text-decoration: underline;
}


/* Grote lijst met items onder elkaar */
ul.lijst {
  list-style-type: none;
  margin: 0px;
  padding: 0px 10px 0px 10px;
}
ul.lijst-item {
  list-style-type: none;
  position: relative;
  padding: 0px;
  box-shadow: 0px 1px 2px -1px #B0B0B0;
  border-radius: 8px;
  background: #FFF;
  margin: 0px 0px 10px 0px;
  animation: fadeIn 500ms;
}

ul.lijst-item li { 
  display: table-cell;
  padding: 0px 5px 0px 0px;
  vertical-align: middle;
}

ul.lijst-item li.title {
  padding: 10px 10px 10px 0px;
  width: 100%;
  user-select: text;
}
ul.lijst-item li.title a.title-ref {
  cursor: pointer;
  font-weight: 600;
  font-size: 1.1em;
  text-decoration: none;
  color: #000;
}

ul.lijst-item li.title a.title-ref:hover {
  text-decoration: underline;
}

ul.lijst-item .description {
  color: #6B6C5B;
  font-weight: 400;
  user-select: text;
  word-break: break-word;
}

ul.lijst-item .description a {
  text-decoration: none;
  color: #6B6C5B;
}

ul.lijst-item li.right {
  padding: 0px 15px 0px 0px;
}

ul.lijst-item li.right .whats-the-count {
  color: #7f8071;
  padding: 15px 0px 15px 15px;
  font-weight: 600;
  text-align: right;
}

ul.lijst-item li.bron {
  padding: 10px 10px 10px 10px;
}

ul.lijst-item li.bron img {
  width: 35px;
  height: 35px;
  padding: 5px 5px 5px 5px;
  position: relative;
  vertical-align: top;
  cursor: pointer;
}

ul.lijst-item li.bron span {
  color: #757575;
  font-size: .7em;
  display: block;
  text-align: center;
}

.lijst-item-placeholder {
  position: relative;
  height: 100px;
  background: #e4e4e4;
  border-radius: 8px;
  margin-bottom: 10px;
  animation: fadeIn 1s;
  animation: pulse 2800ms ease-in-out infinite;
}
.lijst-item-placeholder:first-child {
  margin-top: 44px;
}

.lijst-item-placeholder-small {
  position: relative;
  height: 75px;
  background: #e4e4e4;
  border-radius: 8px;
  margin-bottom: 10px;
  animation: fadeIn 1.5s;
  animation: pulse 2500ms ease-in-out infinite;
}

.lijst-item-logo-placeholder {
  width: 35px;
  height: 35px;
  border-radius: 35px;
  margin-left: 15px;
  top: calc(50% - 21px);
  background: #dedede;
  position: absolute;
  animation: pulse 3500ms ease-in-out infinite;

}

.niet-gezocht-placeholder {
  position: absolute;
  top: 45%;
  width: 250px;
  text-align: center;
  font-size: 1.2em;
  left: calc(50% - 125px);
  color: #131313;
  user-select: none;
  background: #EEE;
  box-shadow: 0px 0px 50px 50px #EEE;
}

.server-fout-placeholder {
  text-align: center;
  color: #131313;
}
.server-fout-placeholder i {
  color: #CCC;
  font-size: 13em;
}
.server-fout-placeholder h5 {
  color: #CCC;
}

.box-wide {
  padding: 10px;
  font-size: 1.2em;
  color: #131313;
  font-weight: 400;
  text-align: center;
  margin: 0px auto;
  max-width: 500px;
  user-select: none;
  background: #FFF;
  z-index: 800;
  position: relative;
}

.box-flex {
  justify-content: center;
  display:  flex;
  flex-wrap: wrap;
}
.box-flex div {
  text-align: left;
  background: #FFF;
  margin: 10px;
  max-width: 260px;
  padding: 10px 10px 10px 10px;
  border-radius: 8px;
}
.box-flex div h2 {
  background: #F8C11E;
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 10px;
  font-family: Staatliches;
}
.box-flex div h2 i {
  margin-right: 10px;
  vertical-align: middle;
}
.buy-me-coffee {
  border-radius: 8px;
  display: block;
  background: #E87F5F;
  color: #FFF;
  padding: 5px;
  margin: 15px auto;
  max-width: 250px;
  text-decoration: none;
  font-weight: 600;
  position: relative;
  bottom: -50px;
  opacity: 0;
  animation: donateAttention 500ms forwards;
  animation-delay: 2s;
}

.opac-8 { opacity: 0.8;}
.opac-7 { opacity: 0.7;}
.opac-6 { opacity: 0.6;}
.opac-5 { opacity: 0.5;}
.opac-4 { opacity: 0.4;}
.opac-3 { opacity: 0.3;}
.opac-2 { opacity: 0.2;}
.opac-1 { opacity: 0.1;}

@keyframes donateAttention {
  0% {opacity: 0; bottom: -25px; transform: scale(.9);}
  100% { opacity: 1;bottom: 0px; transform: scale(1);}
}
@keyframes fadeInImg {
  0% {opacity: 0}
  100% {opacity: 1}
}

@keyframes pulse {
  0% {background: #e4e4e4; }
  50% {background: #dfdfdf;}
  100% {background: #e4e4e4;}
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

@keyframes fadeInDelayed {
  0% {opacity: 0}
  75% {opacity: 0}
  100% {opacity: 1}
}

