:root {
  --head-green: #083E0B;
  --floral-white: #5E9F55;
  --header-placeholder: #FFF;
  --item-description: #989987;
  --item-box-shadow: #000;
  --white: #1C1C1C;
  --white-transparent: rgba(255, 255, 255, 0.5);
  --black: #f4f4f4;

  --main-bg: #1e2124;
  --main-font: #d2d2d2;
  --secondary-bg: #353535;

  --main-bg-darker: #1C1C1C;
  --main-bg-darker-font: #a2a1a1;
  --main-placeholder-bg: #1A1919;
  --main-placeholder-bg2: #1c1c1c;
  --image-filter: grayscale(80%) opacity(80%);

  --default-padding: 10px 10px 10px 10px;

  --default-radius: 8px;

  --font-size-s: .8em;
  --font-size-l: 1.1em;
}

html,
body {
  background: var(--main-bg);
  color: var(--main-font);
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

button {
  border: none;
  background: inherit;
  color: inherit;
  cursor: pointer;
}

header {
  background: var(--main-bg);
  top: 0px;
  position: sticky;
  text-align: center;
  padding: var(--default-padding);
  padding-top: 15px;
  font-weight: 500;
  user-select: none;
  font-size: 1.1em;
  margin: 0px auto;
  z-index: 800;
}

header span {
  font-size: var(--font-size-s);
  padding: 0px 0px 0px 5px;
  color: var(--main-font);
}

.pagina-header-date-pick {
  top: 50px;
  position: sticky;
  position: -webkit-sticky;
  background: var(--main-bg);
  text-align: left;
  line-height: 40px;
  padding: 5px 0px 5px 10px;
  height: 40px;
  color: var(--main-bg-darker-font);
  font-weight: 500;
  user-select: none;
  animation: fadeIn 1s;
  font-size: 1.1em;
  max-width: 690px;
  margin: 0px auto;
  z-index: 800;
}

.pagina-header-date-pick input[type=text] {
  border: none;
  width: 250px;
  background: var(--main-placeholder-bg);
  border-radius: 8px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  padding: 5px 5px 5px 10px;
}

.pagina-header-date-pick input[type=text]:hover {
  background: var(--white);
}

.bottom-control {
  z-index: 900;
  background: var(--secondary-bg);
  position: fixed;
  display: grid;
  grid-template-columns: 55px calc(100% - 55px);
  width: 100%;
  bottom: 0px;
}

.bottom-control .search-filter {
  display: grid;
  grid-template-rows: 50% 50%;
  box-shadow: inset -2px 0px 0px 0px var(--main-bg);
}

.bottom-control .search-filter button {
  margin: 10px 10px 0px 10px;
  padding: var(--default-padding);
  border-radius: var(--default-radius);
  background: var(--main-bg);
}

.bottom-control .search-filter button:last-of-type {
  margin: 10px 10px 10px 10px;

}

.bottom-control .date-picker ul {
  overflow-x: auto;
  white-space: nowrap;
  opacity: 0;
  animation: fadeIn 500ms ease-out;
  animation-fill-mode: forwards;
}

.bottom-control .date-picker ul li {
  display: inline-block;
  cursor: pointer;
}

.bottom-control .date-picker ul.month-pick li button {
  padding: 5px 15px 5px 15px;
  border-radius: var(--default-radius);
  background: var(--main-bg);
}

.bottom-control .date-picker ul li button.current {
  font-weight: 800;
}

.bottom-control .date-picker ul li button.active {
  background: var(--main-bg);
  box-shadow: inset 0px 0px 0px 3px var(--floral-white);
}

.bottom-control .date-picker ul.month-pick li {
  margin: var(--default-padding);
  margin-right: 0px;
  margin-bottom: 0px;
}

.bottom-control .date-picker ul.month-pick li:last-of-type {
  margin-right: 10px;
}

.bottom-control .date-picker ul.day-pick li button {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 10px 5px 10px;
  background: var(--main-bg);
  box-shadow: inset 2px 0px 0px var(--secondary-bg), inset -2px 0px 0px var(--secondary-bg);
  grid-template-rows: 15px 1fr 1fr;
  min-width: 45px;
  display: grid;
  text-align: center;
}

.bottom-control .date-picker ul.day-pick li button.active {
  background: var(--main-bg);
  box-shadow: inset 0px 0px 0px 2px var(--floral-white);
}

.bottom-control .date-picker ul.day-pick li:first-of-type button {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: inset -2px 0px 0px var(--secondary-bg);
  margin-left: 10px;
}
.bottom-control .date-picker ul.day-pick li:last-of-type button {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-right: 10px;
}

.bottom-control .date-picker ul.day-pick li button .weekday {
  text-transform: lowercase;
}

.bottom-control .date-picker ul.day-pick li button .day {
  font-size: var(--font-size-l);
  font-weight: 800;
}

.bottom-control .date-picker ul.day-pick li button .month {
  text-transform: lowercase;
}

footer {
  bottom: 0px;
  user-select: none;
  position: relative;
  color: var(--main-bg-darker-font);
  text-align: center;
  padding: 100px 10px 100px 10px;
  animation: fadeIn 3s;
  height: calc(100vh - 300px);
  margin-top: 50px;
}

footer a {
  color: var(--main-bg-darker-font);
}

footer a:hover {
  text-decoration: underline;
}

footer .logo a:hover {
  text-decoration: none;
  color: var(--black);
}

footer .logo {
  color: var(--floral-white);
  font-family: Staatliches;
  text-shadow: 0px 1px --var(white);
  font-size: 4em;
}

footer .logo-tag {
  max-width: 300px;
  margin: 0px auto;
}

footer .sitemap {
  padding: 50px 0px 0px 0px;
  max-width: 300px;
  margin: 0px auto;
}

footer .sitemap ul.sitemap {
  display: table;
}

footer .sitemap li {
  display: table-cell;
  padding: 0px 5px 10px 0px;
}

@font-face {
  font-family: 'Staatliches';
  src: url('Staatliches-Regular.ttf') format('truetype');
}

.wrapper {
  position: relative;
  max-width: 700px;
  margin: 0px auto;
}

.wrap-overflow {
  overflow-x: scroll;
}

ul.item-lijst li {
  margin: var(--default-padding);
  background: var(--secondary-bg);
  border-radius: var(--default-radius);
  display: grid;
  grid-template-columns: auto 55px;
  vertical-align: middle;
}

ul.item-lijst li .title {
  padding: var(--default-padding);
  user-select: text;
}

ul.item-lijst li .title a {
  cursor: pointer;
  font-weight: 600;
  font-size: 1.1em;
  text-decoration: none;
  color: var(--main-font);
  word-wrap: anywhere;
}

ul.item-lijst li .title a:hover {
  text-decoration: underline;
}

ul.item-lijst .description {
  color: var(--item-description);
  font-weight: 400;
  user-select: text;
  word-break: break-word;
}

ul.item-lijst .timestamp {
  font-size: var(--font-size-s);
  text-align: center;
}

ul.item-lijst.description a {
  text-decoration: none;
  color: var(--item-description);
}

ul.item-lijst li .bron {
  padding: var(--default-padding);
}

ul.item-lijst li .bron img {
  width: 35px;
  height: 35px;
  border-radius: var(--default-radius);
  position: relative;
  vertical-align: top;
  cursor: pointer;
}

ul.item-lijst li.bron span {
  color: var(--item-description);
  font-size: var(--font-size-s);
  display: block;
  text-align: center;
}

#theme-setting {
  margin: 15px;
  text-shadow: none;
}

#theme-setting .active {
  background: var(--white);
  font-weight: 800;
}

#theme-setting .theme-option {
  color: var(--main-font);
  padding: 0px 10px 0px;
  display: inline-block;
  line-height: 35px;
  vertical-align: middle;
  cursor: pointer;
  background-color: var(--main-bg);
}

#theme-setting .theme-option:hover {
  background-color: var(--white);
  color: var(--black);
}

#theme-setting .theme-option:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  margin-right: 1px;
}

#theme-setting .theme-option:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-left: 1px;
}

.lijst-item-placeholder {
  position: relative;
  height: 100px;
  background: var(--main-placeholder-bg);
  border-radius: 8px;
  margin-bottom: 10px;
  animation: fadeIn 1s;
  animation: pulse 2800ms ease-in-out infinite;
}

.lijst-item-placeholder-small {
  position: relative;
  height: 75px;
  background: var(--main-placeholder-bg);
  border-radius: 8px;
  margin-bottom: 10px;
  animation: fadeIn 1.5s;
  animation: pulse 2500ms ease-in-out infinite;
}

.lijst-item-logo-placeholder {
  width: 35px;
  height: 35px;
  border-radius: 35px;
  margin-left: 15px;
  top: calc(50% - 21px);
  background: var(--main-placeholder-bg2);
  position: absolute;
  animation: pulse 3500ms ease-in-out infinite;

}

.niet-gezocht-placeholder {
  position: absolute;
  top: 45%;
  width: 250px;
  text-align: center;
  font-size: 1.2em;
  left: calc(50% - 125px);
  color: var(--main-bg-darker-font);
  user-select: none;
}

.server-fout-placeholder {
  text-align: center;
  color: var(--main-bg-darker-font);
}

.server-fout-placeholder i {
  color: var(--main-bg-darker-font);
  font-size: 13em;
}

.server-fout-placeholder h5 {
  color: var(--main-bg-darker-font);
}

@keyframes pulse {
  0% {
    background: var(--main-placeholder-bg);
  }

  50% {
    background: var(--main-placeholder-bg2);
  }

  100% {
    background: var(--main-placeholder-bg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}